@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  
}
  
nav{
  background-color: rgb(199, 122, 45);
  display: flex;
  justify-content: space-between;
  align-items: center;
padding: 5px 40px;
box-shadow: 3px 1px  rgb(222, 152, 55);
}

nav ul {
  display: flex;
  gap: 20px;
}

nav ul li p{ 
  padding: 20px;
  margin: 0px;
}

nav ul li p:hover {
 background-color: rgb(198, 136, 60);
 
}


.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;


  background-image: url(gambar\ blur.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

button{background-color: rgb(236, 180, 98);
       border: none;
       cursor: pointer;
       padding: 10px 20px;
       border-radius: 20px;
       font-weight: 700;
       margin-top: 20px;
}

.contentTentang {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

section h2 {
  text-align: center; 
  margin-bottom: 30px ;
}


section :not(.hero) {
  padding : 0 40px
  margin 20PX 0;
}

.contentTentang div{
  width: 45%;
  
}

.elon {
  display: flex;
  justify-content: center;
}

.contentTentang img {
  border-radius: 10px 0 10px 0;
  animation: melayang 3S infinite ease-in;
}

@keyframes melayang{
  0%{
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0);
  }

 
}

.itemsGallery{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px 0;


}

.itemGallery{
  background-color: rgb(242, 252, 252);
  padding: 25px;
  border-radius: 15px;
  width: 20%;
  box-shadow: 1px 1px 5px rgb(224, 197, 197);


}

.itemGallery img {
  width: 100%;
}

figcaption{
  font-weight: 600;
}

footer{
  background-color: rgb(189, 228, 197);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;.
  
}

